.container{
    height: 10vh;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
}

b{
    padding-right: 5px;
}

