.container{
    height: 10vh;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

b{
    padding-right: 5px;
}


table,th,td{
    border: 1px solid ;
}

