.result{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

b{
    padding-right: 5px;
}


