.result{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.tabl{
    height: 50vh;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
}

.t {
    border: 1px solid black;
    width: 70%;
}
