ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    font-family: Arial, Helvetica, sans-serif;
}

#nav,#list{
    display: flex;
}

#nav {
    flex-direction: row;
    justify-content: space-between;
}

h2,
h3,
a {
    color: #34495e;
}

a {
    text-decoration: none;
}

#main {
    margin: 0;
    font-size: 1.45em;
    font-family: Arial, Helvetica, sans-serif;
}

#list {
    margin-top: 5px;
}

#main a,
#list a {
    padding: 10px 15px;
    text-transform: uppercase;
    display: block;
}

#list a {
    color: #34495e;
    font-size: .99em;
}

#list a:hover {
    color: #718daa;
}

#nav {
    padding-top: .3em;
    padding-bottom: .3em;
    border: 5px solid #561919;
    background-color: #ffffff;  
}
